---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
  <div class="h-[50vh] flex items-center justify-center bg-[#ffefef]">
    <h1 class="font-bold text-6xl">STORE</h1>
  </div>
  <div class="flex gap-4 m-8">
    <div class="card">
      <img src="https://iili.io/Ju3wiVn.md.jpg" />
      <div class="card-info">
        <p>$23.50</p>
        <button>comprar</button>
      </div>
    </div>
    <div class="card">
      <img src="https://iili.io/Ju3wsPs.md.jpg" />
      <div class="card-info">
        <p>$53.00</p>
        <button class="acn">comprar</button>
      </div>
    </div>
  </div>
  <div id="modal" class="fixed inset-0 hidden">
    <div class="inset-0 w-full h-full bg-black/25 z-10"></div>
    <div
      class=`w-96 h-56 inset-0 z-20 shadow-lg bg-white rounded-md
				absolute m-auto p-2 flex flex-col items-center justify-center overflow-hidden`
    >
      <div
        id="loader"
        class="absolute bg-white w-full h-full flex items-center justify-center"
      >
        <div class="lds-ring">
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
      <h1 class="text-lg mb-4">¡Link generado!</h1>
      <button id="redd">Continuar</button>
    </div>
  </div>
</MainLayout>

<style>
  .card {
    @apply shadow-md flex flex-col rounded-md overflow-hidden cursor-pointer;
    max-width: 300px;
  }

  .card-info {
    @apply flex flex-col p-4 gap-2;
  }

  .card-info p {
    @apply font-bold text-xl text-center m-0;
  }

  button {
    @apply border-none bg-black text-white p-2 rounded-md cursor-pointer;
  }

  .card:hover button {
    @apply bg-purple-700;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<script>
  const items = [
    {
      sku: "001",
      name: "Sweater 1",
      price: 23.5,
      imageUrl: "https://iili.io/Ju3wiVn.md.jpg",
    },
    {
      sku: "002",
      name: "Sweater 2",
      price: 53.0,
      imageUrl: "https://iili.io/Ju3wsPs.md.jpg",
    },
  ];

  let btns = [...document.getElementsByClassName("acn")];

  for (let [idx, btn] of btns.entries()) {
    btn.addEventListener("click", async function () {
      document.getElementById("modal").style.display = "block";

      const body = {
        orderName: `my-store-order-${Math.floor(Math.random() * 1000) + 1}`,
        orderDescription: "generado desde api",
        lineItems: [
          {
            product: items[idx],
            quantity: 1,
          },
        ],
        successUrl: `${window.location.href}/success`,
        cancelUrl: window.location.href,
      };

      const res = await fetch(
        "https://api-pay.h4b.dev/api/paymentlink/checkout?redirect=false",
        {
          method: "POST",
          headers: {
            Authorization:
              "Bearer sk_be601c81b8aef5ee8a252082381330d34a8e5cc69a04f031c2ac6d5a5f1604f7",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(body),
        }
      );
      const jsonres = await res.json();

      if (jsonres.paymentLinkUrl) {
        console.log("🚀 ~ file: index.astro:247 ~ jsonres:", jsonres);

        document.getElementById("loader").style.display = "none";
        document.getElementById("redd").addEventListener("click", function () {
          location.replace(jsonres.paymentLinkUrl);
        });
      }
    });
  }
</script>
