---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
  <div
    class="w-screen h-screen flex flex-col items-center justify-center gap-4"
  >
    <h1 class="font-bold leading-loose text-2xl">N1CO</h1>
    <img src="https://i.giphy.com/z84Q2PRklAbL2.webp" />
    <h2 class="text-4xl">Compra exitosa.</h2>
  </div>
</MainLayout>
