---
import "@fontsource/dm-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>n1co playground</title>
  </head>
  <body class="m-0 relative">
    <main>
      <slot />
    </main>
  </body>
</html>
